# Name:
# Roll No.:
# Assignment 6

# Instruction

1. Don‚Äôt plagiarize, Plagiarism would lead to straight zero
2. Clearly mention your NAME and ROLL NO#.
3. Late submissions are not allowed. Start Early.

In [2]:
#import libraries
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.edge.options import Options
from selenium.webdriver.common.keys import Keys
# from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

# Question 1

Scrape 2 pages of the reviews for a single product listing using product URL.<br /> Note: Product must have more than 1 review page. The code must be generic and should work for every product listing URL, with proper checks in place.

In [18]:
url = 'input url here'

In [22]:
#Output
df

           Name                                        Review text
0     Nabeel B.  Cellphone is great, was delivered on said time...
1     Salman R.  Great response excellent delivery time and pro...
2   Mohammad H.  One of the best in it's category. highly recom...
3         M***.        Very good product daraz good service thankx
4      hamxa M.                  Original product and good packing
5    Saqlain A.  Sir warranty card pr koi date ya sign nai to b...
6          M D.  Mobile is original but seller is too lazy in t...
7         N***.      Phone is perfect but now prices are increased
8      umair K.                   best phone in this price range.
9      Imran K.                                 original product üëç

# Question 2

Scrape 80 items for a keyword search e.g., 'mobile covers'<br/>Note: Must use "click()" function of webElement, URL changing for pages is not allowed. The code must be generic and should work for every keyword, with proper checks in place. Bonus for also scraping country and Daraz Mall availability.

In [4]:
query = 'mobile covers'
url = 'form complete url from query given above by appending to actual url'

In [19]:
#Output
df

                                                 Name  Price  Stars  Reviews
0   Lenuo Luxury 6D Plating Soft Casing Silicone S...    837    4.6       14
1   Lenuo Luxury 6D Plating Soft Casing Silicone S...    837    4.7       23
2   Xiaomi Redmi Note 4 Case , Smoky Matte Shock P...    249    4.9       33
3   Huawei Nova Plus MATTE BLACK FLEXIBLE TPU CASE...    149    5.0        5
4   For Sony Xperia XZ3 Heavy Duty Armor Tough Hyb...    649    5.0       25
..                                                ...    ...    ...      ...
75  Xiaomi Redmi Note 7 / Note 7Pro Case , Smoky M...    249    4.7       46
76  Xiaomi Poco F3 Case , Soft TPU Camera Protecti...    185    4.9       35
77  Infinix Note 10 Pro , Full Protection Vinyl Sk...     99    4.6      112
78  Huawei Nova 3i Antishock Drop Resistance Armor...    449    5.0       58
79  Handfree Cover Charger Hard Case eva Coin Carr...    127    4.7       75

[80 rows x 4 columns]

# Question 3

Which Products are on Flash sale? Display Product name, Actual Price, Discounted Price, Discount Percentage, Rating, No. of Reviews, Top 3 reviews displayed.

Display output must be like this. Products may vary.

In [ ]:
#Run this cell to see output
pd.read_csv('sample.csv')

# Question 4

#### Submit .py file